bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
react-jokes-frontend/node_modules/

whateverAPI.sln.DotSettings.user

.vs/

.gitconfig

appsettings.Production.json

whateverAPI/whateverAPI.csproj.user

whateverAPI/http-client.private.env.json

whateverAPI/appsettings.Development.json

whateverAPI/index.html
