<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\whateverAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="WEBSITE_NODE_DEFAULT_VERSION" value="18.17.0" />
        <environmentVariable name="WEBSITE_NPM_DEFAULT_VERSION" value="9.6.7" />
        <environmentVariable name="SCM_DO_BUILD_DURING_DEPLOYMENT" value="false" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration> 